.about-me {
    position: fixed;
    right: 10%;
    bottom: 1px;
    display: flex;
    color: cornsilk;
}

.about-me > * {
    padding: 5px;
    font-size: 35px;
    margin: 5px;
    transition: all .2s ease-in-out;
    color: whitesmoke;
    animation: 3s ease 0s normal forwards 1 fadein;
    -webkit-animation: 3s ease 0s normal forwards 1 fadein;
}

.about-me > *:hover {
    transform: scale(1.2);
    cursor: pointer;
    animation: colorchange 1s ease-in-out infinite alternate;
    -webkit-animation: colorchange 1s ease-in-out infinite alternate;
}