.posts-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.post-nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 300px;
    padding-top: 100px;
}

.avatar {
    padding-right: 20px;
    padding-bottom: 20px;
}