.form-container {
    display: flex;
    justify-content: end;
    text-align: center;
    padding: 200px;
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
}



.title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: white;
    font-size: 30px;
    margin: 30px ;
}

.field {
    height: 10px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
}

.submit {
    display: block;
    background-color: rgb(52, 152, 185);
    color: white;    
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    height: 40px;
    width: 200px;
    text-decoration: none;
    align-content: center;
}

.link {
    display: flex;
    justify-content: end;
    color: black;
    background-color: white;
    height: 20px;
    width: 60px;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family: arial;
}
